@font-face {
    font-family: Montserrat;
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face {
    font-family: Cabin;
    src: url('./fonts/Cabin/Cabin-VariableFont_wdth,wght.ttf');
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: "Montserrat";
}

p {
    font-family: "Cabin";
}

/* TEST */
/* div {
    border: 1px outset black;
    background-color: rgba(255, 99, 71, 0.4)
} */

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card {
    /* padding: 0.25rem; */
}

.about-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 60rem;
}

.about-col {
    margin: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-rows: 85% 15%;
}

.about-photo {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* @media (min-width: 800px) {
    .col {
        grid-template-columns: 1fr;
    }   
} */